<a href="https://colab.research.google.com/github/robitussin/CCDATS1L_EXERCISES/blob/main/exercise_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 1

Please follow the instructions for each number

## Lists

1. Create a list of lists. Use the three lists below

  list1 = [orange, banana]

  list2 = [1, 2]

  list3 = [True, False]

  -----------------------------

  **Expected output:**

  [["orange", "banana"], [1, 2], [True, False]]

In [46]:
# Put your answer here

2. Remove all strings in the list

  mylist = ["A", 1, "B", 10, "C", 100, "D"]

  ----------------------------

  **Expected output**:
   
  [1, 10, 100]

In [47]:
# Put your answer here

3. Create a list that will contain the combination of each element in list1 and list2

  list1 = ["DA", "SCI"]

  list2 = ["TA", "ENCE"]

  ----------------------------

  **Expected output:**

  ['DATA', 'SCIENCE']

In [48]:
# Put your answer here

4. Remove empty strings in the list

  list1 = ["I", "", "LOVE", "DATA", "", "SCIENCE"]

  -----------------------

  **Expected output:**

  ["I", "LOVE", "DATA", "SCIENCE"]

In [49]:
# Put your answer here

5. Using list comprehension, create a new list that will only contain the prime numbers in the given list

  list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

  -----------------------------

  **Expected output:**
  
  [2, 3, 5, 7]

In [50]:
# Put your answer here

## Tuples

1. Print the value "National University" in the nested tuple.

  mytuple = ("Manila", [19, 00, "National University"], (25, 8, 2023))

  --------------------------------

  **Expected output:**

  National University

In [51]:
# Put your answer here
mytuple = ("Manila", [19, 00, "National University"], (25, 8, 2023))
mytuple[1][2]

'National University'

2. Given this tuple

  mytuple = (1, 2, 3, 4, 5)

  Unpack the following tuple into five variables and display the value of each variable.

  --------------------------------

  **Expected output:**

  print(a) # should print 1

  print(b) # should print 2

  print(c) # should print 3

  print(d) # should print 4

  print(d) # should print 5

In [ ]:
# Put your answer here

3. Given this tuple

  mytuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

  Use range indexing/slicing to create a new tuple that will only contain the numbers 6 to 10

  --------------------------------

  **Expected output:**

  print(newtuple)

  (6, 7, 8, 9, 10)

In [ ]:
# Put your answer here

4. Given this tuple

  mytuple = ("NU", "NU", 55, "i love data science!", False, "NU", 23)

  Count the number of occurrences of the word "NU"

  --------------------------------

  **Expected output:**

  3

In [ ]:
# Put your answer here

5. Given this tuple of tuples

  mytuple = (('A', 2),('B', 1),('C', 4), ('D', 3))

  Sort mytuple by the second item of each inner tuple

  --------------------------------

  **Expected output:**

 (('B', 1),('A', 2),('D', 3), ('C', 4))

In [ ]:
# Put your answer here

# Set

1. Given this set and list

  myset = {"A", "B", "C"}

  mylist = ["D", "E", "F"]

  Insert all items in the list into the set

  --------------------------------

  **Expected output:**

  {"A", "B", "C", "D", "E" , "F"}

  Note: The order does not matter

In [ ]:
# Put your answer here

2. Use a function to create a new set that will only contain unique items from both sets.

  set1 = {"A", "B", "C"}

  set2 = {"C", "B", "D"}

  --------------------------------

  **Expected output:**

  {"A", "B", "C", "D"}

  Note: The order does not matter

In [ ]:
# Put your answer here

3. Given two sets, use a function to update **set1** with items that only appears in **set1** but not in **set2**.

  set1 = {1, 2, 3, 4, 5}

  set2 = {2, 3, 4}

  --------------------------------

  **Expected output:**

  {1, 5}

  Note: The order does not matter

In [ ]:
# Put your answer here

4. Given the two sets

  set1 = {1, 2, 3, 4, 5}

  set2 = {6 ,7, 8, 2, 5}

  Use a function to create a new set that will only contain common items from set1 and set2

  --------------------------------

  **Expected output:**

  {2, 5}

  Note: The order does not matter

In [ ]:
# Put your answer here

5. Given the two sets

  set1 = {"APPLE", "BANANA" , "MANGO", "DRAGONFRUIT"}

  set2 = {"APPLE", "GUAVA", "CORN", "DRAGONFRUIT"}

  Remove items from set1 that are not common to both set1 and set2

  --------------------------------

  **Expected output:**

  {"APPLE", "DRAGONFRUIT"}

  Note: The order does not matter

In [ ]:
# Put your answer here

# Dictionary

1. Given the two lists below

  keyslist = ['001', '002', '003']

  valueslist = ['RED', 'BLUE', 'GREEN']

  Use the **zip()** function to convert them into a dictionary where all items in the keyslist will be the key and the items in the valueslist will be the value

  --------------------------------

  **Expected output:**

  {'001': 'RED', '002': 'BLUE', '003': 'GREEN'}

  Note: The order does not matter

In [51]:
# put your answer here

2. Merge the two dictionaries below into a single dictionary

  dict1 = {'001': 'A', '002': 'B', '003': 'C'}

  dict2 = {'004': 'D', '005': 'E', '006': 'F'}

  --------------------------------

  **Expected output:**

  {'001': 'A', '002': 'B', '003': 'C', '004': 'D', '005': 'E', '006': 'F'}

  Note: The order does not matter

In [ ]:
# put your answer here

3. Given this dictionary

    dict1 = {
    "name": "elizer",
    "age": 25,
    "surname": "ponio",
    "city": "manila"}

  Create a new dictionary that will only contain elements extracted using the name and surname keys.

  --------------------------------

  **Expected output:**

  {'name': 'elizer', 'surname': ponio}

  Note: The order does not matter

In [ ]:
# put your answer here

4. Given this dictionary

    dict1 = {
    "name": "elizer",
    "age": 25,
    "surname": "ponio",
    "city": "New york"}

  Check if the value "ponio" is present in the dictionary

  --------------------------------

  **Expected output:**

  "ponio" exists in the dictionary

  Note: The order does not matter

In [ ]:
# put your answer here

5. Given this dictionary

    dict1 = {
    "name": "elizer",
    "age": 25,
    "surname": "ponio",
    "city": "manila"}

  Rename the key "name" to "firstname"

  --------------------------------

  **Expected output:**

    {
    "firstname": "elizer",
    "age": 25,
    "surname": "ponio",
    "city": "manila"}

  Note: The order does not matter

In [ ]:
# put your answer here